@{
    ViewBag.Title = "Select Validator Type";
}

<h2>Select Validator Type</h2>


<div class="form-horizontal">

    <div class="form-group">

        @Html.Label("Validator Type", htmlAttributes: new { @class = "control-label col-md-2" })

        <div class="col-md-10">
            @Html.DropDownList("ValidatorType", iwContactManager.Utilities.ListUtility.GetValidatorTypesSelectList(), null, htmlAttributes: new { @class = "form-control" })

        </div>
    </div>

</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#ValidatorType").change(function () {
                var type = $("#ValidatorType").val();
                window.location = '/validators/Create/?validatorType=' + type;

            });
        });
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}
